<div class="product-list">
  <nav>
    <h1>Product List</h1>
    <a [routerLink]="['/products/new']"><button>Add New Product</button></a>
  </nav>
  <table>
    <thead>
      <tr>
        <td>id</td>
        <td>Name</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product._id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.qty }}</td>
        <td>{{ product.price | currency:'usd' }}</td>
        <td>
          <a [routerLink]="['/products',product.id,'edit']"><button>Edit</button></a>
          <a [routerLink]="['/products',product.id]"><button>Details</button></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
